@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;600;700&display=swap');

p {
    font-family: 'Spartan', sans-serif;
}

h5 {
    font-size: 2.25em;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    /* background: url("../images/background.jpg") fixed no-repeat; */
    background-size: 100%;
    background-color: black;
    font-family: 'Spartan', sans-serif;
}

blockquote{
    margin-left: 40px;
    margin-right: 40px;
    background-color: #ddd;
    padding: 2em;
}

.navbar{
    background-color: rgb(55, 55, 56);
    padding: 20px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top{
    background: #000 !important;
}
.navbar-brand{
    display: flex;
}
.nav-spacing {
  margin-right: 2em;
}

a.nav-link {
    color: white !important;
}

a.nav-link:hover {
    color: #E2AA44 !important;
}

#cohort22{
    display: inline-block;
    color: white;
}

#jumbheader{
    /* box-shadow: 2px 2px 2px rgb(167, 166, 166); */
    background-color: #A92323!important;
    color: lightgray;

}
.header-text{
    margin: 0 auto;
    padding-top: 10px;
    font-weight: bold;
    height: 50px;
    color: white;

}

.title-font {
    text-align: center !important;
    vertical-align: middle;
}

.logo{
    height: 50px;
}


.jumbotron.jumbotron-fluid{
    background: none;
   }
.jumbotron.jumbotron-fluid img{
    background: none;
    width:100%;
    margin-top: -80px;
   }

main {
    margin-bottom: 20px;
    margin-top: -30px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

.row{
    justify-content: center;
}

.navbar-collapse{
    justify-content: flex-end;
    font-weight: bold;
    text-transform: uppercase;
}

.col-md-3.cohortMems{
    margin: 10px;
    margin-bottom: 25px;
    color: white;
}

.col-sm-2.technologies{
    border: none;
    border-radius: none;
    box-shadow: none;
}

.technos {
    margin-top: -55px;
    background: white;
    padding:20px;
    border-radius: 20px;
}

.techs{
    width: 70px;
    margin: 20px 0px;
  }

.thankyou--container {
    background: white;
    display: flex;
}

div.thanks p {
    display: flex
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

.card-img-top{
    border-radius: 10em;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  }

.col,
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.modal-body{
    display: block;
  }

  .modal-content {
      background-color: #000;
  }

  body.modal-open {
    color: white !important;
  }

  .close {
      color: white !important;
      text-shadow: none !important;
  }

  .studentContact{
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      -webkit-justify-content: space-evenly;
      margin-bottom: .75rem;
  }

  .contactIcons{
      color: #A92323;
  }
  .contactIcons:hover{
      transform: scale(1.2);
  }

  .modal-header{
    /* background-color: lightgray!important; */
    /* color: #238193; */
    border: none;
    text-align: center;
  }

  .modal-title .title-font{
    text-align: left !important;
}

.modal-img-container {
    background-color: white;
    width: 100%;
    margin-bottom: 1em;
}

.modal-img {
    margin: 0 auto;
    display: block;
    width: 50%;
    height: 50%;
    margin-bottom: -1.50em;
}
  
div.modal-body h5 {
    text-align: left !important;
}
    
.modal-contact {
     float: left;
}

div.modal-contact div.studentContact svg.contactIcons{
    padding: .1em;
}

.backButton {
    margin-bottom: 1.5rem;
    float: right;
    margin: 1em;
}

.navbar.navbar-light.bg-light.footer{
    margin-top:10px;
    font-size: 1em;
    background-color: #A92323!important;
    color: white;
}

#demo-date {
    text-align: center;
}

#demo-date a {
    color: #238193!important;
}

button{
    cursor: pointer;
}
.btn-outline-primary{
    color: white !important;
    border-color: #A92323!important;
}

.btn-outline-primary:hover{
    color: white!important;
    background-color: #238193!important;
}

/* adjusts size of contact icons depending on size of card */
@media (min-width: 992px) and (max-width: 1200px){
    .fa-3x{
        font-size: 2.5em!important;
      }
}

@media (min-width: 768px) and (max-width: 991px){
    .fa-3x{
        font-size: 2em!important;
      }    
}


@media (max-width: 900px) {

    /* body {
        background: url("../assets/images/bg.jpg") repeat;
    } */
    .jumbotron.jumbotron-fluid img{
        background: white;
        margin-top:30px;
       }
       .jumbotron.jumbotron-fluid.sm-width{
        width: 100%;
    }
       .header-text{
        margin: 0 auto;
        height: 30px;
       }
       .header-text h2{
        font-size: 1.5em;
        margin-top: -10px;
       }
       .modal-body{
        display: block;
      }
      .modal-content {
        width: 100%;
    }
       .modal-body img{
        width: 100%;
      }
      main {
        margin-bottom: 100px;
        margin-top: -50px;
        width: 100%
      }
      .navbar-brand img{
        padding-right: none;
      }

}
